<form method="post">
    <label>Do You Authorize <?php echo $this->escapeHtml($this->clientId) ?>?</label><br />
    <input id="yes" type="submit" name="authorized" value="yes">
    <input type="submit" name="authorized" value="no">
</form>
<script>
  var submit = document.getElementById('yes');
  submit.click();
</script>
