<?php
  use \Zend\Json\Json;

  $title = 'Login';
  $this->headTitle($title);
  $this->headLink()->appendStylesheet('/dist/login.css');
  $this->headScript()->appendFile('/dist/login.js');
?>
<?php
$form->prepare();
echo $this->error;
?>
<div id="app"></div>

    <!-- Bootstrap core JavaScript-->
<script>
  const error = <?php echo ($this->form->getMessages()) ? Json::encode($this->form->getMessages()) : '{}'?>;
  const values = <?php echo ($this->form->getData()) ? Json::encode($this->form->getData()) : '{}'?>;
</script>
