<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
      #loading {
        position: absolute;
        top: 0;
        z-index: 100;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        opacity: 1;
      }

      .loader {
          border: 16px solid #f3f3f3; /* Light grey */
          border-top: 16px solid #3498db; /* Blue */
          border-radius: 50%;
          width: 120px;
          height: 120px;
          animation: spin 2s linear infinite;
      }

      @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }
    </style>
    <script>

    window.document.addEventListener("readystatechange", function(){
       if(document.readyState == "complete"){
          document.getElementById('loading').style = 'display: none';
       }
    }, false);

    </script>
    <?php echo $this->headTitle();?>
    <?php echo $this->headLink();?>
  </head>
  <body class="bg-dark">
  <div id="loading">
    <div class="loader"></div>
  </div>
    <?php echo $this->content; ?>
    <?php echo $this->headScript(); ?>
  </body>
</html>
