<?php echo $this->doctype(); ?>
<html lang="pt-br">

    <body>
        <div class="container" ng-app="GearAppLogin">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <?php echo $this->content; ?>
                </div>
            </div>
        </div>
        <?php echo $this->headScript(); ?>
    </body>
</html>
