<?php
  use \Zend\Json\Json;

  $title = 'Recovery Password';
  $this->headTitle($title);
  $this->headLink()->appendStylesheet('/dist/recovery-password.css');
  $this->headScript()->appendFile('/dist/recovery-password.js');
?>
<?php
//$form->prepare();
echo $this->error;
?>
<div id="app"></div>

    <!-- Bootstrap core JavaScript-->
<script>

</script>
